name: sra

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  sra:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install SRA (git tag)
        run: |
          python -m pip install -U pip
          pip install "git+https://github.com/sungbae85/worksra.git@main#egg=sra"
# pip install "git+https://<GHE_HOST>/<ORG>/<SRA_REPO>.git@<TAG>#egg=sra"

      - name: Run SRA scan
        run: |
          sra scan --use-llm off

      - name: Run SRA gate
        run: |
          sra gate
